<h2>各国選手の移籍状況</h2>
<h4>
        <div class="btn-group">
  <button type="button" class="btn btn-default">　<a href="/world_ranking">BIFAランキングページ</a>　</button>
  <button type="button" class="btn btn-default">　<a href="http://aquabit.org/gittest/wbgds/">BIFA投票ページ</a>　</button>
  <button type="button" class="btn btn-default">　<a href="http://aquabit.org/gittest/wbgds/">BIFA試合一覧ページ</a>　</button>
</div>
        </h4>
<iframe src="http://aquabit.org/gittest/wbgds/" width="100%" height="600px"></iframe>